.modal-edit-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}
.modal-edit-profile img {
  width: 35px;
  height: 35px;
}
.modal-edit_name .modal-profile-fix img {
  border-radius: 50px;
  width: 35px;
  height: 35px;
}
.modal-profile-fix input::placeholder {
  color: black;
}
.modal-profile-fix {
  display: flex;
  align-items: center;
  flex: 1;
}
.modal-edit_name .modal-profile-fix input {
  margin-left: 10px;
  flex: 1;
  font-weight: 550;
  margin-right: 10px;
  border: none;
  padding: 5px;
  outline: none;
  /* border: 2px #8a8ad8 solid; */
}
.modal-profile-fix:hover {
}
.modal-edit_name .ant-modal-footer {
  display: none;
}
.right-bar-out_room {
  color: rgb(241, 35, 35);
}
.dropdown-item-rename img {
  width: auto;
  height: auto;
}
.container-right__menu-dropdown-file_share .ant-row {
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container-right__menu-dropdown-file_share .ant-row .ant-col {
  padding: 8px;
  margin: 4px;
  border-bottom: 1px solid gray;
}
.container-right__menu-dropdown-file_share .ant-row .ant-col a {
  color: black;
}
.file_share-no_data {
  margin: auto;
  text-align: center;
  border: none !important;
  font-weight: 600;
  background: gray;
  border-radius: 10px;
}
.container-right__menu-dropdown-image-share .ant-row {
  max-height: 225px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 12px;
}
.container-right__menu-dropdown-image-share .ant-row .ant-col {
  padding: 1px;
  width: 111px;
  height: 111px;
}
.container-right__menu-dropdown-image-share .ant-row .ant-col img {
  width: 100%;
  height: 100%;
}
